* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Arial;
}

body {
  margin: 0;
  background: #000;
  color: white;
}

/* INTRO (NÃO MEXER) */
.intro {
  height: 100vh;
  background: linear-gradient(180deg, #1db954, #000);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapped {
  text-align: center;
  animation: fadeUp 1.2s ease;
}

.wrapped h1 {
  font-size: 64px;
  margin: 0;
}

.wrapped p {
  font-size: 18px;
  margin-bottom: 30px;
}

.play-btn {
  font-size: 40px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: none;
  background: black;
  color: #1db954;
  cursor: pointer;
}

/* APP */
.hidden {
  display: none;
}

.spotify {
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(180deg, #121212, #000 70%);
}

/* PLAYER CARD */
.player-card {
  max-width: 420px;
  margin: auto;
  text-align: center;
}

.cover {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 20px 40px rgba(0,0,0,.6);
}

.music-info h2 {
  margin: 8px 0 0;
}

.music-info p {
  margin: 0;
  color: #b3b3b3;
  font-size: 14px;
}

/* BARRA DE PROGRESSO */
.progress {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  margin: 15px 0;
}

.bar {
  flex: 1;
  height: 4px;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
}

.fill {
  height: 100%;
  width: 0%;
  background: #1db954;
  transition: width 0.3s linear;
}

/* BOTÕES DE CONTROLE */
.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.control-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.control-btn i {
  width: 28px;
  height: 28px;
  stroke: white;
}

.play-main i {
  width: 36px;
  height: 36px;
  stroke: #1db954;
}

.control-btn:hover i {
  stroke: #1db954;
}

/* LYRICS BOX */
.lyrics-box {
  max-width: 420px;
  margin: 20px auto;
  padding: 20px;
  background: #121212;
  border-radius: 12px;
  color: #fff;
  text-align: center;
  min-height: 100px;
  box-shadow: 0 10px 20px rgba(0,0,0,.5);
  font-size: 16px;
  line-height: 1.5;
}

/* TEMPO */
.time-card {
  background: #121212;
  margin: 40px auto;
  max-width: 420px;
  padding: 20px;
  border-radius: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.grid div {
  background: #1e1e1e;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
}

/* ANIMAÇÃO */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
